@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
}

.header {
  background: #222222;
  height: 74px;
  padding: 18px 16px;
  box-sizing: border-box;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft, .headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.header .logo {
  margin-right: 41px;
}

.iconCartWrap {
  display: none;
}
@media (min-width: 768px) {
  .iconCartWrap {
    display: inline;
    position: relative;
  }
}
@media (min-width: 768px) {
  .iconCartNumber {
    display: inline-block;
    width: 19px;
    height: 19px;
    color: white;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: -11px;
    top: -6px;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 19px;
  }
}
.iconUser {
  display: none;
}
@media (min-width: 768px) {
  .iconUser {
    display: inline;
    margin-left: 25px;
    margin-right: 42px;
  }
}
@media (min-width: 1024px) {
  .iconUser {
    margin-left: 33px;
    margin-right: 33px;
  }
}

.brandWrap {
  min-height: 363px;
  position: relative;
}
.brandWrapInside {
  background: #F1E4E6;
  min-height: inherit;
}
@media (min-width: 768px) {
  .brandWrapInside {
    display: flex;
  }
}
.brandLeft {
  display: none;
}
@media (min-width: 768px) {
  .brandLeft {
    display: block;
    width: 50%;
  }
}
.brandRight {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  color: #222222;
}
@media (min-width: 768px) {
  .brandRight {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .brandRight {
    justify-content: start;
  }
}
.brandText {
  border-left: 12px solid #F16D7F;
  height: 61px;
  padding-left: 15px;
}
.brandText p:first-child {
  font-weight: 900;
  font-size: 38px;
  line-height: 28px;
}
.brandText p:last-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 13px;
}
.brandText span {
  color: #F16D7F;
}
@media (min-width: 768px) {
  .brandText {
    height: 78px;
  }
  .brandText p:first-child {
    font-size: 44px;
    line-height: 48px;
  }
  .brandText p:last-child {
    font-size: 24px;
    line-height: 29px;
    margin-top: 5px;
  }
}
@media (min-width: 1024px) {
  .brandText {
    height: 92px;
  }
  .brandText p:first-child {
    font-size: 48px;
    line-height: 50px;
  }
  .brandText p:last-child {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (min-width: 768px) {
  .brandImage {
    width: 100%;
  }
}
.brandDark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.brandHidden {
  display: none;
}
.brandMenu {
  width: 232px;
  height: inherit;
  background: white;
  margin-left: auto;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 37px 24px;
  box-sizing: border-box;
  position: relative;
  max-height: inherit;
  overflow: auto;
}
.brandMenuTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 24px;
}
.brandMenuClose {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 16px;
  right: 17px;
}
.brandMenuHeader {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.brandMenuUnit {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.brandMenuUnit a {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 11px;
  margin-left: 20px;
}
.brandMenuUnit a:last-child {
  margin-bottom: 0;
}

.offer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 248px) 111px;
  row-gap: 32px;
  padding: 64px 16px;
}
@media (min-width: 768px) {
  .offer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 167px 116px;
    -moz-column-gap: 19px;
         column-gap: 19px;
    row-gap: 20px;
    padding-top: 20px;
  }
  .offerAccesories {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .offer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    padding-top: 65px;
  }
}
.offerCard {
  position: relative;
}
.offerImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.offerTitle {
  position: relative;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
}
.offerTitleBottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 95px;
}
@media (min-width: 768px) {
  .featured {
    margin-top: 91px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 65px;
  }
}
@media (min-width: 1024px) {
  .featured {
    margin-top: 32px;
    margin-bottom: 95px;
  }
}
.featuredHeader {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin-bottom: 3px;
}
@media (min-width: 1024px) {
  .featuredHeader {
    margin-bottom: 6px;
  }
}
.featuredTitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .featuredTitle {
    margin-bottom: 73px;
  }
}
@media (min-width: 1024px) {
  .featuredTitle {
    margin-bottom: 48px;
  }
}
.featuredItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
@media (min-width: 768px) {
  .featuredItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
@media (min-width: 1024px) {
  .featuredItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.featuredCard {
  background: #F8F8F8;
}
.featuredCardImg {
  position: relative;
}
.featuredCard:hover .featuredImgDark {
  display: flex;
}
.featuredImg {
  width: 100%;
}
.featuredImgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  justify-content: center;
  align-items: center;
}
.featuredImgDarkButton {
  background: none;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 17px;
}
.featuredImgDarkButton img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}
.featuredData {
  padding: 24px 29px 20px 18px;
}
.featuredName {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.featuredText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 13px;
  margin-bottom: 18px;
}
.featuredPrice {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.featuredButton {
  border: 1px solid #F26376;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin-top: 42px;
  padding: 14px 39px;
}
@media (min-width: 768px) {
  .featuredButton {
    margin-top: 33px;
  }
}
@media (min-width: 1024px) {
  .featuredButton {
    margin-top: 48px;
  }
}
.featuredButtonBlock {
  display: block;
  text-align: center;
}
.featuredButton:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222224;
  padding-bottom: 81px;
}
@media (min-width: 768px) {
  .service {
    padding-bottom: 64px;
  }
}
@media (min-width: 1024px) {
  .service {
    padding-bottom: 104px;
  }
  .service .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.serviceBlock {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .serviceBlock {
    padding-top: 103px;
  }
}
.serviceTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin-top: 25px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .serviceTitle {
    margin-bottom: 16px;
  }
}
.serviceText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  max-width: 347px;
}
@media (min-width: 768px) {
  .serviceText {
    max-width: 360px;
  }
}

.subscribe {
  display: flex;
  justify-content: center;
  background-image: url(public/img/subscrubeBgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 110px;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .subscribe {
    padding-bottom: 140px;
  }
}
@media (min-width: 1600px) {
  .subscribe {
    padding: 97px 0px 126px;
  }
  .subscribe .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.subscribeRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 59px;
}
@media (min-width: 768px) {
  .subscribeRight {
    margin-bottom: 48px;
  }
}
.subscribeText {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #222224;
  max-width: 343px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .subscribeText {
    max-width: 360px;
  }
}
.subscribeLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1600px) {
  .subscribeLeft {
    margin-top: 53px;
    margin-bottom: 30px;
  }
}
.subscribeTitleFirst {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #222224;
}
.subscribeTitleSecond {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #222224;
}
@media (min-width: 768px) {
  .subscribeTitleSecond {
    font-size: 18px;
  }
}
.subscribeForm {
  margin-top: 22px;
  height: 47px;
}
@media (min-width: 768px) {
  .subscribeForm {
    margin-top: 27px;
    height: 49px;
  }
}
@media (min-width: 1600px) {
  .subscribeForm {
    margin-top: 32px;
    height: 49px;
  }
}
.subscribeFormInput {
  height: inherit;
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  float: left;
  width: 245px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}
@media (min-width: 768px) {
  .subscribeFormInput {
    width: 256px;
  }
}
.subscribeFormButton {
  height: inherit;
  background: #F16D7F;
  border: none;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  box-sizing: border-box;
  padding: 6px 7px;
  width: 96px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .subscribeFormButton {
    width: 100px;
  }
}

.footer {
  padding: 43px 62px 9px 62px;
  background: #222224;
}
@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.footerRight {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  -moz-column-gap: 7px;
       column-gap: 7px;
  justify-content: center;
}
@media (min-width: 768px) {
  .footerRight {
    padding-bottom: 0;
  }
}
.footerLeft {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.newArrivals {
  display: flex;
  flex-direction: column;
  min-height: 148px;
  background: #F8F3F4;
}
@media (min-width: 768px) {
  .newArrivals .container {
    display: flex;
    justify-content: space-between;
  }
}
.newArrivalsLeft {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .newArrivalsLeft {
    margin: 60px 0 60px 16px;
  }
}
.newArrivalsRight {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  margin-top: 32px;
  margin-bottom: 46px;
}
@media (min-width: 768px) {
  .newArrivalsRight {
    margin: 65px 16px 65px;
  }
}
.newArrivalsLink {
  text-decoration: none;
}

.filters {
  margin-top: 24px;
  margin-bottom: 40px;
}
@media (min-width: 1600px) {
  .filters {
    margin-top: 51px;
    margin-bottom: 64px;
  }
}
.filters .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .filters .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1600px) {
  .filters .container {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
  }
}
.filtersLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.filtersLeftTitle {
  display: none;
}
@media (min-width: 768px) {
  .filtersLeftTitle {
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}
.filtersLeftTitlePink {
  color: #ef5b70 !important;
  left: 16px;
  top: 13px;
}
.filtersLeftImage {
  width: 37px;
  height: 25px;
}
@media (min-width: 768px) {
  .filtersLeftImage {
    width: 15px;
    height: 10px;
    margin-left: 11px;
  }
}
.filtersRight {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #6F6E6E;
}
@media (min-width: 768px) {
  .filtersRight {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (min-width: 1600px) {
  .filtersRight {
    margin-left: 304px;
  }
}
.filtersRightText {
  margin-right: 9px;
}
@media (min-width: 768px) {
  .filtersRightText {
    margin-right: 10px;
  }
}

.filterTrending,
.filterSize {
  margin-right: 24px;
}
@media (min-width: 768px) {
  .filterTrending,
.filterSize {
    margin-right: 28px;
  }
}

.filterPopup {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto;
}
.filterHiden {
  display: none;
}
.filterCategory:not(:last-child) {
  margin-bottom: 24px;
}
.filterCategoryHeader {
  font-size: 14px;
  line-height: 37px;
  color: #ef5b70;
  padding-left: 11px;
  min-height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  position: relative;
}
.filterCategoryHeader:before {
  content: "";
  width: 5px;
  min-height: inherit;
  background: #ef5b70;
  position: absolute;
  left: 0;
  top: 1px;
}
.filterCategory a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}
.filterCategory a:not(:last-child) {
  margin-bottom: 11px;
}

.catalogFeaturedItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
.catalogFeaturedItems .container {
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .catalogFeaturedItems .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (min-width: 1600px) {
  .catalogFeaturedItems .container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}
.catalogFeaturedItems div:nth-child(3) {
  display: none;
}
@media (min-width: 1600px) {
  .catalogFeaturedItems div:nth-child(3) {
    display: inline;
  }
}

.pagination {
  width: 283px;
  height: 43px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 64px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 15px 16px;
}
@media (min-width: 1600px) {
  .pagination {
    margin-top: 48px;
    margin-bottom: 96px;
  }
}
.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #5D5D5D;
}
.pagination a:last-child {
  padding-right: 0;
}
.pagination a:hover {
  color: #ef5b70;
}

.product {
  min-height: 624px;
  background: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.productImg {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  position: relative;
  margin-top: 85px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
@media (min-width: 768px) {
  .productImg {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1600px) {
  .productImg {
    margin-top: 11px;
    margin-bottom: 42px;
  }
}
.productLeftArrow, .productRightArrow {
  width: 47px;
  height: 47px;
  padding: 12.65px 17.3px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}
.productLeftArrow {
  background-image: url(public/img/catalog/leftArrow.svg);
  left: 0;
}
.productLeftArrow:hover {
  background-image: url(public/img/catalog/leftArrowHover.svg);
}
.productRightArrow {
  background-image: url(public/img/catalog/rightArrow.svg);
  right: 0;
}
.productRightArrow:hover {
  background-image: url(public/img/catalog/rightArrowHover.svg);
}

.collection .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  background: white;
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .collection .container {
    margin-bottom: 130px;
  }
}
@media (min-width: 1600px) {
  .collection .container {
    margin-top: -64px;
    position: relative;
  }
}
.collectionFirstTitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}
.collectionTopDivider {
  height: 3px;
  width: 63px;
  background: #EF5B70;
  margin-bottom: 12px;
}
.collectionSecondTitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .collectionSecondTitle {
    margin-bottom: 48px;
  }
}
.collectionContent {
  font-weight: 300;
  font-size: 14px;
  line-height: 143.1%;
  max-width: 326px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .collectionContent {
    max-width: 555px;
  }
}
.collectionPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #EF5B70;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .collectionPrice {
    margin-bottom: 65px;
  }
}
.collectionBottomDivider {
  height: 1px;
  width: 175px;
  background: #EAEAEA;
  margin: 0 auto;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .collectionBottomDivider {
    width: 641px;
    margin-bottom: 65px;
  }
}
.collectionFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .collectionFilter {
    margin-bottom: 48px;
  }
}
.collectionFilterImage {
  width: 10px;
  height: 5px;
}
.collectionFilterText {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .collectionFilterText {
    font-size: 14px;
    line-height: 17px;
    margin-right: 9px;
  }
}
.collectionFilterColor, .collectionFilterSize {
  margin-right: 25px;
}
@media (min-width: 768px) {
  .collectionFilterColor, .collectionFilterSize {
    margin-right: 23px;
  }
}
.collectionButton {
  display: flex;
  align-items: center;
  border: 1px solid #FF6A6A;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 14px 56px 14px 24px;
}
.collectionButtonImg {
  margin-right: 23px;
}

.productFeaturedItems {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
  margin-bottom: 64px;
}
.productFeaturedItems .container {
  padding-left: 8px;
  padding-right: 8px;
}
@media (min-width: 768px) {
  .productFeaturedItems .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 19px;
    padding-right: 13px;
    -moz-column-gap: 16px;
         column-gap: 16px;
    margin-bottom: 128px;
  }
}
@media (min-width: 1600px) {
  .productFeaturedItems .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0px;
    padding-right: 0px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.productFeatured:nth-child(2) {
  display: none;
}
@media (min-width: 768px) {
  .productFeatured:nth-child(2) {
    display: inline;
    order: 1;
  }
}
@media (min-width: 1600px) {
  .productFeatured:nth-child(2) {
    order: 2;
  }
}
@media (min-width: 768px) {
  .productFeatured:first-child {
    order: 2;
  }
}
@media (min-width: 1600px) {
  .productFeatured:first-child {
    order: 1;
  }
}
@media (min-width: 768px) {
  .productFeatured:last-child {
    display: none;
  }
}
@media (min-width: 1600px) {
  .productFeatured:last-child {
    display: inline;
    order: 3;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  color: #E5E5E5;
  padding: 0 8px;
}
@media (min-width: 768px) {
  .cart {
    padding: 0 16px;
  }
}
@media (min-width: 1600px) {
  .cart {
    flex-direction: row;
    justify-content: space-between;
  }
}
.cartTitle {
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .cartTitle {
    align-items: flex-start;
  }
}
.cartTitle p {
  margin-top: 0;
}
@media (min-width: 768px) {
  .cartTitle p {
    margin: 0 0 0 16px;
  }
}
.cartLeft {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .cartLeft {
    margin-top: 59px;
    margin-bottom: 64px;
  }
}
@media (min-width: 1600px) {
  .cartLeft {
    margin-top: 98px;
    margin-bottom: 128px;
    margin-right: 128px;
    flex-grow: 1;
  }
}
.cartLeftButton {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .cartLeftButton {
    justify-content: center;
  }
}
@media (min-width: 1600px) {
  .cartLeftButton {
    justify-content: space-between;
  }
}
.cartLeftButtonShopping {
  width: 175px;
  height: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #575757;
  border: 1px solid #A4A4A4;
  background: white;
}
@media (min-width: 768px) {
  .cartLeftButtonShopping {
    width: 234px;
    height: 49px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .cartLeftButtonShoppingLeft {
    margin-right: 49px;
  }
}
@media (min-width: 1600px) {
  .cartLeftButtonShoppingLeft {
    margin-right: 0;
  }
}
.cartProduct {
  display: flex;
  background: #FFFFFF;
  position: relative;
  box-shadow: 8px 8px 21px rgba(0, 0, 0, 0.13);
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .cartProduct {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .cartProduct {
    width: 652px;
  }
}
.cartProduct::before {
  width: 10px;
  height: 11px;
  content: " ";
  display: block;
  position: absolute;
  right: 12px;
  top: 17px;
  background: url(public/img/close.png) no-repeat;
  background-size: 100%;
}
@media (min-width: 768px) {
  .cartProduct::before {
    width: 18px;
    height: 18px;
    right: 24px;
    top: 28px;
    background-size: contain;
  }
}
.cartProductLeft {
  height: 188px;
}
@media (min-width: 768px) {
  .cartProductLeft {
    height: 306px;
  }
}
.cartProductImg {
  width: 144px;
  height: 100%;
}
@media (min-width: 768px) {
  .cartProductImg {
    width: 262px;
  }
}
.cartProductRight {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  margin-left: 17px;
}
@media (min-width: 768px) {
  .cartProductRight {
    margin-top: 22px;
    margin-left: 31px;
  }
}
.cartProductName {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  max-width: 143px;
}
@media (min-width: 768px) {
  .cartProductName {
    font-size: 24px;
    line-height: 29px;
    max-width: 210px;
  }
}
.cartProductPrice {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  margin-top: 26px;
}
@media (min-width: 768px) {
  .cartProductPrice {
    font-size: 22px;
    line-height: 26px;
    margin-top: 42px;
  }
}
.cartProductColor, .cartProductSize, .cartProductQuantity {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  margin-top: 4px;
}
@media (min-width: 768px) {
  .cartProductColor, .cartProductSize, .cartProductQuantity {
    font-size: 22px;
    line-height: 26px;
    margin-top: 6px;
  }
}
.cartProductPriceColor {
  color: #F16D7F;
}
.cartProductQuantityNumber {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #656565;
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  padding: 1px 9px;
}
@media (min-width: 768px) {
  .cartProductQuantityNumber {
    font-size: 18px;
    line-height: 22px;
    margin-left: 40px;
    padding: 1px 16px;
  }
}
@media (min-width: 768px) {
  .cartProductLast {
    margin-bottom: 62px;
  }
}
@media (min-width: 1600px) {
  .cartProductLast {
    margin-bottom: 72px;
  }
}
.cartRight {
  display: flex;
  flex-direction: column;
  margin-bottom: 96px;
}
@media (min-width: 768px) {
  .cartRight {
    margin-bottom: 128px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1600px) {
  .cartRight {
    margin-top: 113px;
    flex-direction: column;
    justify-content: start;
  }
}
.cartForm {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .cartForm {
    margin-bottom: 0;
    margin-right: 15px;
    flex-grow: 1;
  }
}
@media (min-width: 1600px) {
  .cartForm {
    margin-bottom: 0;
    margin-right: 0;
    flex-grow: 0;
  }
}
.cartFormTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}
.cartFormInput {
  height: 45px;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  margin-bottom: 21px;
  padding-left: 16px;
}
.cartFormButton {
  width: 100px;
  height: 34px;
  border: 1px solid #A4A4A4;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #575757;
  background: #FFFFFF;
  text-align: center;
}
@media (min-width: 768px) {
  .cartFormButton {
    text-transform: uppercase;
    color: #4A4A4A;
  }
}
.cartCheckout {
  height: 214px;
  background: #F5F3F3;
  padding: 39px 43px 42px 43px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cartCheckout {
    margin-top: 40px;
  }
}
@media (min-width: 1600px) {
  .cartCheckout {
    margin-top: 58px;
  }
}
.cartCheckoutSubtotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-align: right;
  margin-bottom: 12px;
}
.cartCheckoutSubtotal span {
  margin-left: 20px;
}
.cartCheckoutGrandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: right;
  margin-bottom: 21px;
}
.cartCheckoutGrandtotal span {
  color: #F16D7F;
  font-weight: bold;
  margin-left: 20px;
}
.cartCheckoutButton {
  height: 50px;
  width: 100%;
  font-family: inherit;
  background: #F16D7F;
  border: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .cartCheckoutButton {
    width: 273px;
  }
}
.cart hr {
  height: 1px;
  background: #E2E2E2;
  border: none;
  margin-bottom: 17px;
}

.registration {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .registration {
    padding: 0 16px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.registrationLeft {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .registrationLeft {
    flex-grow: 1;
    margin-bottom: 96px;
    margin-right: 22px;
  }
}
@media (min-width: 1600px) {
  .registrationLeft {
    flex-grow: 1;
    margin-top: 64px;
    margin-right: 128px;
  }
}
.registrationForm {
  display: flex;
  flex-direction: column;
}
.registrationFormTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-align: left;
}
.registrationFormInput {
  height: 44px;
  width: inherit;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-left: 17px;
  margin-top: 21px;
}
.registrationFormGender {
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 34px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}
.registrationFormRadio {
  width: 17px;
  height: 17px;
  border: 1px solid #A4A4A4;
  margin-right: 10px;
}
.registrationFormRadio:not(:first-of-type) {
  margin-left: 20px;
}
.registrationFormText {
  width: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
}
.registrationFormButton {
  background: #F16D7F;
  border: none;
  width: 167px;
  height: 50px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 39px;
}
.registrationFormButtonArrow {
  margin-left: 20px;
}
.registrationRight {
  margin-bottom: 96px;
}
@media (min-width: 768px) {
  .registrationRight {
    flex-grow: 1;
    margin-top: 40px;
    max-width: 652px;
  }
}
@media (min-width: 1600px) {
  .registrationRight {
    margin-top: 64px;
  }
}
.registrationRightTitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 32px;
}
.registrationRightText {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.registrationRightList {
  margin-top: 22px;
  list-style-type: none;
}
.registrationRightListText {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 16px;
}
.registrationRightListMark {
  margin-right: 23px;
}
@media (min-width: 1600px) {
  .registrationRightTitle, .registrationRightText, .registrationRightListText {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
  }
}/*# sourceMappingURL=shopstyle.css.map */